html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191B1C;
    overflow: scroll;
}

#page{
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    color: white;
}

#headline{
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

#copy{
    margin: 20px;
}

#credits{
    width: 20px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 10%;
    display: flex;
    background-color: #141516;
    justify-content: space-evenly;
    align-items: center;
    font-size: 26px;
}
  
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    border-right: 1px solid white;
  }

  #banner{
    width: 40%;
    height: auto;
  }

  td{
    padding: 10px;
  }

  li:hover{
    cursor: pointer;
  }

  #footer{

    min-height : 15%;
    width: 100%;
    font-size: 26px;
    color: white;
    background-color: #141516;
    display: flex;
    justify-content: center;
    align-items: center;
  }